/* Reset default margins and paddings */
html,
body {
    background-color: darkblue;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit; /* Ensure box-sizing is consistent */
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100vh; /* Fill the full viewport height */
}

.TopBar {
    width: 100%;
    background-color: #333; /* Example background color */
    color: white; /* Text color */
    padding: 10px 0; /* Padding for aesthetic spacing */
    text-align: center; /* Center the title or any content horizontally */
    position: fixed; /* Make it stick at the top */
    top: 0; /* Align to the top */
    z-index: 1000; /* Ensure it's above other content */
}

/* Ensure the viewport container expands to fill available space */
.main {
    flex-grow: 1;
    display: flex; /* Make this a flex container */
    height: 100vh; /* Fill the full viewport height */
    width: 100vw; /* Fill the full viewport height */
}

.colorpicker {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent; /* Background for entire container is transparent */
    z-index: 10; /* Ensure it is on top */
    padding-bottom: 1rem; /* Added for spacing */
}

.buttonContainer {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10rem; /* Space between the buttons */
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.closeButton {
    background-color: white; /* Example background color */
    color: black;
    border: none;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    margin-left: 1rem; /* Add some space between color picker and button */
    /* border-radius: 4px; */
}

.closeButton:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  .placePixelButton, .governPixelsButton {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100; /* Ensure it's above other elements */
  }
  

.apps {
    position: absolute;
    top: calc(50px + 1rem);
    left: 1rem;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    z-index: 10;
    height: calc(100vh - 50px - 2rem);
}

.blur-background {
    filter: blur(5px);
  }

.container {
  background-color: var(--bg-primary); /* Replace with the actual color value if different */
  min-height: 100vh; /* Equivalent to min-h-screen */
  display: flex;
  flex-direction: column; /* Equivalent to flex-col */
}

.errorContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    width: 25%;
}

.errorTitle {
    text-align: center;
    color: #ff4757; /* Example error color */
    font-size: 1.5rem;
    font-weight: bold;
}

.errorDetail, .errorSuggestion {
    color: #adb5bd; /* Example suggestion color */
    text-align: center;
    margin-top: 1rem;
}