.inner {
    background-color: white;
    padding: 0.5rem; /* Adjusted padding */
    border-radius: 1rem; /* More rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of buttons */
    justify-content: center; /* Center buttons horizontally */
    gap: 0.5rem; /* Gap between buttons */
  }
  
  .button {
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
    border-radius: 0.5rem; /* More rounded corners */
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for buttons */
    border: 2px solid transparent; /* Default border */
    position: relative; /* Position for number */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-white {
    border: 2px solid #000000 !important; /* Black border for white button */
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button.selected {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #00BFFF; /* Light blue border to indicate selection */
  }
  
  .number {
    position: absolute;
    top: -0.3rem; /* Adjust as necessary */
    left: -0.3rem; /* Adjust as necessary */
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.75rem; /* Small font size */
    width: 1rem; /* Small square size */
    height: 1rem; /* Small square size */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Light shadow */
  }
  
  .label {
    position: absolute;
    top: -0.3rem; /* Adjust as necessary */
    left: -0.3rem; /* Adjust as necessary */
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.75rem; /* Small font size */
    padding: 0.1rem 0.2rem; /* Small label size */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Light shadow */
  }